body {
    background-color: #33e7ff;
    font-family: sans-serif;
  }
  
  h1 {
    margin: 0 auto;
    color: #005a66;
    font-size: 4rem;
    letter-spacing: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border: 5px solid #066976;
    margin: 10px;
    padding: 10px;
    background-color: #00b4cc;
    font-size: 1.5rem;
    font-style: italic;
  }
  
  p::first-letter {
    float: left;
    color: #005a66;
    font-size: 5rem;
    font-style: italic;
    line-height: 3rem;
  }