body {
    font-family: Arial, sans-serif;
    background-color: #f5e274; 
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #a6a2a2; 
  }
  
  fieldset {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
 } 


.caja-suscripcion {
  background-color: #f0d837; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #2b17c4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #edd644;
  }